<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hungry hub</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>

    <div class="container">
        <aside>
            <div class="nav">
                <div class="top">
                    <a href="/"><img class="img-logo" src="img/logo.png" alt=""></a>
                    <div class="title">Hungry
                        <span>Hub</span>
                    </div>
                    <div class="close-btn"><span class="material-symbols-outlined">close</span></div>
                </div>

                <div class="sideitem">
            
                    <div id="ad-btn" onclick="admin()">
                        <span class="material-symbols-outlined">person</span>
                        <span class="sidebar_title"> Admin Login</span>

                    </div>
                    
                </div>
                <div class="leftside">
                    <div class="theme">
                        <div class="mode">
                            <span class=" active material-symbols-outlined ">light_mode</span>
                            <span class="  material-symbols-outlined">dark_mode</span>

                        </div>


                        <div class="profile acitve">
                            <h2>wel</h2>
                            <h3>come</h3>

                        </div>

                    </div>
                </div>



            </div>

        </aside>
        <!----------end of side bar-->

        <!----------end of side bar-->
        <div class="main">
            <div class="form">
              
                <div id="btnbox">
                    <button type="button" class="tg-btn active-btn" onclick="login()">Login</button>
                    <button type="button" class="tg-btn" onclick="register()">Register</button>
                </div>
                 <div id="err">{{msg.err}}</div>
                <form id="login" action="/login" method="POST">
                    <input class="input" type="text" name="phoneNumber" placeholder="Enter Your Phone Number" required>
                    <input class="input" type="password" name="password" placeholder="Enter Password" required>
                    <button type="submit" class="login-btn active-btn">Login</button>
                </form>
                <form id="admin" action="/admin" method="POST">
                    <input class="input" type="text" name="username" placeholder="Enter Your Username" required>
                    <input class="input" type="password" name="password" placeholder="Enter Password" required>
                    <label for="check">who are you </label>
                    <select class="input" name="check" id="check">
                        <option  value="admin">admin</option>
                        <option value="delivery-boy">delivery boy</option>
                    </select>
                    <button type="submit" class="login-btn active-btn">Login</button>
                </form>
                <form id="register" action="/register" method="POST">
                    <div class="name">
                        <input class="input" type="text" name="fName" placeholder="First Name" required>
                        <input class="input" type="text" name="lName" placeholder="Last Name" required>
                    </div>
                    <input class="input" type="email" name="email" placeholder="Email" required>
                    <input class="input" type="text" name="phoneNumber" minlength="10" maxlength="10"
                        placeholder="phone Number" required>
                    <input class="input" type="password" name="password" minlength="8" placeholder="Password" required>
                    <input class="input" type="password" name="comfirmPassword" placeholder="Confirm Password" required>
                    <button type="submit" class="login-btn active-btn">Register</button>
                </form>
                 
                

            </div>

        </div>
        <!----------end of main-->

    </div>
</body>

{{!--
<script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script> --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="js/login.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>



</html>